NetBeansProjects/WeatherClient/xml-resources/web-service-references/WeatherWS/wsdl/localhost_8080/WeatherWebService/WeatherWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://weather/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://weather/">

<xs:element name="getCondition" type="tns:getCondition"/>

<xs:element name="getConditionResponse" type="tns:getConditionResponse"/>

<xs:element name="getTemperature" type="tns:getTemperature"/>

<xs:element name="getTemperatureResponse" type="tns:getTemperatureResponse"/>

<xs:element name="getWeather" type="tns:getWeather"/>

<xs:element name="getWeatherResponse" type="tns:getWeatherResponse"/>

<xs:complexType name="getWeather">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWeatherResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCondition">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getConditionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTemperature">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTemperatureResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>